body {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: PT Sans Narrow;

  color: #f7f4f1;
  background-color: #777777; /* TODO удалить */
}

h1 {
  font-size: 30px;
  line-height: 42px;

  color: #000000;
}

h2 {
  font-size: 30px;
  line-height: 42px;

  color: #000000;
}

.upper-case {
  text-transform: uppercase;
}

.btn-social {
  display: inline-block;
  font-size: 0;
  width: 40px;
  height: 40px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.btn-social-vk {
  background-image: url(../img/social-vk.png);
}

.btn-social-fb {
  background-image: url(../img/social-facebook.png);
}

.btn-social-instagram {
  background-image: url(../img/social-instagram.png);
}